<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!--맨위화면 Pricing화면-->
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="text-center">Pricing</h1>
            <div>
                quickly build an effective procing table for your customers
                Bootstrap quickly build an effective procing table for your
                customersBootstrap customersBootstrap quickly build an effective procing table for your customers
                Bootstrap quickly build an effective procing table for your
                customersBootstrap customersBootstrap
            </div>
        </div>
    </div>
    <!--첫번째화면-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col m-2 border border-secondary">
                        <div class="border border-secondary bg-light text-center">Free</div>
                        <h2 class="text-center">$0 / mo</h2>
                        <div class="text-center">
                            10 users included 2GB of storage Email support Help center
                            access
                        </div>
                        <div class="text-center">
                            <button class="border border-primary m-2 bg-white text-primary">Sign up for free</button>
                        </div>
                    </div>

                    <div class="col-md-8 m-2 border border-secondary">
                        <div class="border border-secondary bg-light text-center">Pro</div>
                        <h2 class="text-center">$15 / mo</h2>
                        <div class="text-center">
                            10 users included 2GB of storage Email support Help center
                            access
                        </div>
                        <div class="text-center">
                            <button class="border border-primary m-2 bg-primary text-white">Sign up for free</button>
                        </div>
                    </div>

                    <div class="col-4 border border-secondary">
                        <div class="border border-secondary bg-light text-center">Enterprise</div>
                        <h2 class="text-center">$29 / mo</h2>
                        <div class="text-center">
                            10 users included 2GB of storage Email support Help center
                            access
                        </div>
                        <div class="text-center">
                            <button class="border border-primary m-2 bg-primary text-white">Sign up for free</button>
                        </div>
                    </div>
                </div>
                <div class="col">

                </div>

                <div class="col">

                </div>

            </div>
        </div>
    </div>
</body>

</html>